/*             Form Container        */
.loginFormContainer {
    width: 55%;
    height: 100%;
    padding-top: 150px;
    padding-left: 80px;
}
.loginForm {
    height: 100%;
    margin-top: 30px;
}
.input {
    border: 2px solid #C2C2C2;
    border-radius: 2px;
    width: 450px;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
}
.input::placeholder {
    color: #525252;
    font-family: "DM Sans";
    font-weight: 500;
}
.lastLine {
    margin-top: 15px;
}
.signup-btn {
    background: none;
} 
/*              Img Container          */
.loginImgContainer {
    width: 45%;
    height: 100vh;
    display: inline-block;
    overflow: hidden;
}
.loginImg {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: fill;
}
.onImgLine {
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 1;
    text-align: center;
    white-space: nowrap;
}
