/*          not found page       */
.notFoundContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
    text-align: center;
}  
.notFoundContainer h1 {
    font-size: 80px;
    font-weight: bold;
    color: #ff6347;  /* Tomato color */
    margin: 0;
}
.notFoundContainer p {
    font-size: 18px;
    color: #555;
    margin-top: 20px;
}
